/*Var*/
/*Boostrap Grid override*/
/* Include-media override*/
/*More spacers to boostrap*/
/*Support*/
/*Support*/
@font-face {
  font-family: "Trueno";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Trueno.otf") format("opentype"), url("../fonts/Trueno.woff") format("woff"); }

@font-face {
  font-family: "Trueno-2";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Trueno-2.otf") format("opentype"), url("../fonts/Trueno-2.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoBlack.otf") format("opentype"), url("../fonts/TruenoBlack.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Black-Outline";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoBlackOutline.otf") format("opentype"), url("../fonts/TruenoBlackOutline.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Extra-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoExtrabold.otf") format("opentype"), url("../fonts/TruenoExtrabold.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoLight.otf") format("opentype"), url("../fonts/TruenoLight.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Semibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoSemibold.otf") format("opentype"), url("../fonts/TruenoSemibold.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Ultra-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoUltrablack.otf") format("opentype"), url("../fonts/TruenoUltrablack.woff") format("woff"); }

@font-face {
  font-family: "Trueno-Ultra-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TruenoUltralight.otf") format("opentype"), url("../fonts/TruenoUltralight.woff") format("woff"); }

.font-trueno {
  font-family: "Trueno", "Helvetica", "Arial", sans-serif; }

.font-trueno-2 {
  font-family: "Trueno-2", "Helvetica", "Arial", sans-serif; }

.font-trueno-black-outline {
  font-family: "Trueno-Black-Outline", "Helvetica", "Arial", sans-serif; }

.font-trueno-extra-bold {
  font-family: "Trueno-Extra-Bold", "Helvetica", "Arial", sans-serif; }

.font-trueno-light {
  font-family: "Trueno-Light", "Helvetica", "Arial", sans-serif; }

.font-trueno-ultra-light {
  font-family: "Trueno-Ultra-Light", "Helvetica", "Arial", sans-serif; }

.font-trueno-semibold {
  font-family: "Trueno-Semibold", "Helvetica", "Arial", sans-serif; }

.font-trueno-ultra-black {
  font-family: "Trueno-Ultra-Black", "Helvetica", "Arial", sans-serif; }

html {
  font-size: 13px; }
  @media (min-width: 321px) {
    html {
      font-size: 14px; } }
  @media (min-width: 769px) {
    html {
      font-size: 15px; } }
  @media (min-width: 993px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1801px) {
    html {
      font-size: 18px; } }

body {
  font-size: 0.875rem;
  line-height: 1;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow: hidden; }

/*# sourceMappingURL=critical.css.map */
