.acf-repeater .acf-row-handle
{
    vertical-align: top!important;
}
.acf-repeater .acf-row-handle.order
{
    color: #fff;
    background: #0073aa!important;
}
.acf-repeater .acf-row-handle.order:hover
{
    color: #fff;
    background: rgba(0,115,170,.8)!important;
}
.acf-flexible-content .layout .acf-fc-layout-handle
{
    border-bottom: #0073aa solid 2px;
}
