.fixed
{
    .column-title
    {
        width: 40%;
    }
    .column-date
    {
        width: 15%;
    }
    .column-restNIF
    {
        width: 10%;
    }
    .column-userEmail
    {
        width: 20%;
    }
}
