@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}


/* ANIMATE */

.delay-500 {
    transition-delay: 500ms !important;
}

.delay-1000 {
    transition-delay: 1000ms !important;
}

.delay-1500 {
    transition-delay: 1500ms!important;
}

.delay-1750 {
    transition-delay: 1750ms !important;
}

.animate_in_left {
    transform: translateX(-100%);
    transition: 1200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-property: transform;
    overflow: hidden;
    position: relative;
    >img,
    >video,
    >div,
    >svg,
    >span {
        transform: translateX(100%);
        transition: 1200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition-property: transform;
        will-change: transform;
    }
    &.animated {
        transform: translateX(0);
        >img,
        >video,
        >div,
        >svg,
        >span {
            transform: translateX(0);
        }
    }
}

.animate_scale_in_left {
    transform: scaleX(0);
    transition: 1200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-property: transform;
    transform-origin: left;
    &.animated {
        transform: scaleX(1);
    }
}

.animate_o_fade {
    // transform: translateY(50%);
    opacity: 0;
    transition: 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-property: opacity, transform, color !important;
    will-change: transform;
    &.animated,
    &.loaded {
        //transform: translateY(0);
        opacity: 1;
        will-change: transform;
    }
}

.animate_o_up {
    transform: translateY(110%);
    transition: 1200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-property: opacity, transform, color !important;
    will-change: transform;
    &.animated {
        transform: translateY(0);
    }
}

.animate_text {
    overflow: hidden;
    div {
        transform: translateY(100%);
        transition: 1200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-property: opacity, transform, color !important;
        will-change: transform;
        overflow: hidden;
    }
    &.animated {
        div {
            transform: translateY(0);
        }
    }
}