.bg-size--cover {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg--video,
.bg--full-cover {
    position: fixed;
    z-index: map_get($zIndex, 'underground');
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transition: 1s opacity;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}