.border-style--solid
{
    border-style: solid;
}

.border-style--dashed
{
    border-style: dashed;
}

.no-border
{
    border: 0;
    outline: 0;
}

.no-border--x
{
    border-right-width: 0;
    border-left-width: 0;
}

.no-border--y
{
    border-top-width: 0;
    border-bottom-width: 0;
}
