html {
    font-size: 13px;
    letter-spacing: 2px;
    @include media('>phone') {
        font-size: 15px;
    }
    @include media('>tablet-portrait') {
        font-size: 16px;
    }
    @include media('>tablet-landscape') {
        font-size: 18px;
    }
    @include media('>desktop') {
        font-size: 20px;
    }
}

body {
    font-size: convertREM(14);
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    font-family: $Trueno;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

 ::-webkit-scrollbar {
    width: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #FF0000;
}