@include font-face("Trueno-Italic", '../fonts/Trueno', normal, normal, otf woff);
@include font-face("Trueno", '../fonts/Trueno-2', normal, normal, otf woff);
@include font-face("Trueno-Black", '../fonts/TruenoBlack', normal, normal, otf woff);
@include font-face("Trueno-Black-Outline", '../fonts/TruenoBlackOutline', normal, normal, otf woff);
@include font-face("Trueno-Extra-Bold", '../fonts/TruenoExtrabold', normal, normal, otf woff);
@include font-face("Trueno-Light", '../fonts/TruenoLight', normal, normal, otf woff);
@include font-face("Trueno-Semibold", '../fonts/TruenoSemibold', normal, normal, otf woff);
@include font-face("Trueno-Ultra-Black", '../fonts/TruenoUltrablack', normal, normal, otf woff);
@include font-face("Trueno-Ultra-Light", '../fonts/TruenoUltralight', normal, normal, otf woff);
$Trueno-Italic: 'Trueno-Italic',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-italic {
    font-family: $Trueno-Italic;
}

$Trueno: 'Trueno',
'Helvetica',
'Arial',
sans-serif;
.font-trueno {
    font-family: $Trueno;
}

$Trueno-Black-Outline: 'Trueno-Black-Outline',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-black-outline {
    font-family: $Trueno-Black-Outline;
}

$Trueno-Extra-Bold: 'Trueno-Extra-Bold',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-extra-bold {
    font-family: $Trueno-Extra-Bold;
}

$Trueno-Light: 'Trueno-Light',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-light {
    font-family: $Trueno-Light;
}

$Trueno-Ultra-Light: 'Trueno-Ultra-Light',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-ultra-light {
    font-family: $Trueno-Ultra-Light;
}

$Trueno-Semibold: 'Trueno-Semibold',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-semibold {
    font-family: $Trueno-Semibold;
}

$Trueno-Ultra-Black: 'Trueno-Ultra-Black',
'Helvetica',
'Arial',
sans-serif;
.font-trueno-ultra-black {
    font-family: $Trueno-Ultra-Black;
}