#wrapper-navbar {
    position: fixed;
    z-index: 999;
    .navbar {
        @include media('<=ipad-landscape') {
            padding: 0;
        }
    }
    .navbar-toggler {
        position: relative;
        border: none;
        outline: none;
        display: block;
        width: 50px;
        @include media('<=tablet-landscape') {
            width: 30px;
        }
        &.on-view {
            svg {
                path,
                rect {
                    fill: #000;
                }
            }
        }
        &[aria-expanded='true'] {
            svg {
                rect {
                    animation: flickerAnimation 1s infinite;
                }
            }
        }
        span {
            display: block;
            width: 26px;
            height: 1px;
            margin: 6px 0;
            content: '';
            background-color: #fff;
            @extend .transition-3-ease-in-out;
            &:nth-child(2) {
                width: 20px;
            }
        }
    }
    .navbar-collapse {
        &.on-view {
            .navbar-nav {
                .nav-item {
                    a {
                        color: map_get($colors, 'black');
                    }
                }
            }
        }
        .navbar-nav {
            .nav-item {
                font-family: $Trueno-Ultra-Light;
                &.active {
                    font-family: $Trueno-Semibold;
                }
                a {
                    font-size: 1rem;
                    color: map_get($colors, 'white');
                }
            }
        }
    }
}

.network {
    position: fixed;
    right: 1%;
    bottom: 2%;
    width: 2vw;
    z-index: 999;
    @include media('<=tablet-landscape') {
        position: absolute;
        right: 30%;
        top: 20%;
        width: 6vw;
    }
    ul {
        @include media('<=tablet-landscape') {
            display: flex;
            width: 100px;
        }
        li {
            list-style-type: none;
            margin: 1rem auto;
            @include media('<=tablet-landscape') {
                width: 25px;
            }
            a {
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}