// best in chrome
$total: 300; // total particles
$orb-size: 100px;
$particle-size: 2px;
$time: 1s;
$base-hue: 0; // change for diff colors (180 is nice)
.planet {
    position: relative;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: rotate $time infinite linear; // rotate orb
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.particle-planet {
    position: absolute;
    width: $particle-size;
    height: $particle-size;
    border-radius: 50%;
    opacity: 0;
}

@for $i from 1 through $total {
    $z: (random(360) * 1deg); // random angle to rotateZ
    $y: (random(360) * 1deg); // random to rotateX
    $hue: ((40/$total * $i) + $base-hue); // set hue
    .particle-planet:nth-child(#{$i}) {
        // grab the nth particle
        animation: orbit#{$i} $time;
        animation-delay: ($i * .01s);
        background-color: hsla($hue, 100%, 50%, 1);
    }
    @keyframes orbit#{$i} {
        20% {
            opacity: 1; // fade in
        }
        30% {
            transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
        }
        80% {
            transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 30-80
            opacity: 1; // hold opacity 20-80
        }
        100% {
            transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3)) rotateZ($z); // translateX * 3
        }
    }
}

.proj-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 99999;
    opacity: 0;
    &.show {
        background-color: map_get($colors, 'black');
        opacity: 1;
    }
    &.hide {
        opacity: 0;
    }
    .planet-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: map_get($colors, 'black');
        top: 0;
        left: 0;
        z-index: 999;
        &.hide {
            opacity: 0;
        }
        &.show {
            opacity: 1;
        }
    }
    .close-proj {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 35px;
        height: 35px;
        z-index: 998;
        svg {
            path {
                fill: map_get($colors, 'white');
            }
        }
    }
    .proj-show-item {
        transition: all 0.5s ease-in-out;
        opacity: 0;
        transition-delay: 500ms;
        &.hide {
            opacity: 0;
        }
        &.show {
            opacity: 1;
        }
        .proj-url {
            padding: 2vw 2vw;
            display: block;
            transition: all 0.5s ease-in-out;
            border: 1px solid map_get($colors, 'white');
            color: map_get($colors, 'white');
            &:hover {
                background-color: map_get($colors, 'white');
                color: map_get($colors, 'black');
            }
        }
    }
}