.absolute-center
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.fixed-center
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.fixed-center-transform
{
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.absolute-center-x
{
    position: absolute;
    right: 0;
    left: 0;

    margin: 0 auto;
}

.absolute-center-x-transform
{
    position: absolute;
    left: 50%;

    margin: 0 auto;

    transform: translateX(-50%);
}

.absolute-left-top
{
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-left-bottom
{
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
}

.absolute-right-top
{
    position: absolute;
    top: 0;
    right: 0;
    left: unset;
}

.absolute-right-bottom
{
    position: absolute;
    top: unset;
    right: 0;
    bottom: 0;
    left: unset;
}

.absolute-left-center
{
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
}

.absolute-center-transform
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.absolute-bottom-md-down
{
    @include media('<tablet-landscape')
    {
        position: absolute;
        top: unset;
        bottom: 0;
    }
}
