    .site-main {}
    
    #loader {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: map_get($colors, 'black');
        z-index: 1000;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        &.show {
            opacity: 1;
        }
    }
    
    .section {
        width: 100%;
        height: 100vh;
    }
    
    .banner-section {
        #particle_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .home-name {
            position: absolute;
            top: 5%;
            right: 5%;
            h1 {
                font-size: 9vw;
            }
        }
        .home-dev {
            position: absolute;
            bottom: 5%;
            left: 5%;
            @include media('<=tablet-landscape') {
                bottom: 7%;
            }
            h1 {
                font-size: 10vw;
            }
        }
    }
    
    .portfolio-section {
        .container {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            .website-madeat {
                position: absolute;
                transform: rotate(-90deg) translate(20%, 15%);
                left: -12%;
                bottom: 20%;
                @include media('>desktop-lg') {
                    left: 0;
                }
            }
            .prj-item {
                @include media('>=ipad-landscape') {
                    max-height: 45vh;
                    overflow: hidden;
                    a {
                        height: 100%;
                        &:hover {
                            picture,
                            div {
                                &:before,
                                &:after {
                                    -webkit-transform: scale3d(1, 1, 1);
                                    transform: scale3d(1, 1, 1);
                                    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                    -webkit-transition-duration: 0.4s;
                                    transition-duration: 0.4s;
                                }
                            }
                        }
                        div {
                            &:after {
                                top: 0;
                                -webkit-transform-origin: 0 50%;
                                transform-origin: 0 50%;
                            }
                            &:before {
                                bottom: 0;
                                -webkit-transform-origin: 100% 50%;
                                transform-origin: 100% 50%;
                            }
                            &:before,
                            &:after {
                                left: 0;
                                width: 100%;
                                height: 2px;
                                -webkit-transform: scale3d(0, 1, 1);
                                transform: scale3d(0, 1, 1);
                                content: '';
                                position: absolute;
                                background: map_get($colors, 'white');
                                -webkit-transition: -webkit-transform 0.2s;
                                transition: transform 0.2s;
                            }
                        }
                        picture {
                            height: 100%;
                            /* &:before,
                            &:after {
                                top: 0;
                                width: 2px;
                                height: 100%;
                                -webkit-transform: scale3d(1, 0, 1);
                                transform: scale3d(1, 0, 1);
                                content: '';
                                position: absolute;
                                background: map_get($colors, 'white');
                                -webkit-transition: -webkit-transform 0.2s;
                                transition: transform 0.2s;
                            }
                            &:before {
                                left: 0;
                                -webkit-transform-origin: 50% 100%;
                                transform-origin: 50% 100%;
                            }
                            &:after {
                                right: 0;
                                -webkit-transform-origin: 50% 0%;
                                transform-origin: 50% 0%;
                            } */
                            img {
                                height: 100%;
                                width: auto;
                                object-fit: cover;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        .cta-container {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translate(-50%, 15%);
        }
    }
    
    .about-section {
        #me {
            canvas {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .circle {
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
            &.circle-big {
                width: 500px;
                height: 500px;
                right: -10%;
                top: 0%;
                @include media('<=ipad-landscape') {
                    width: 200px;
                    height: 200px;
                    top: -20%;
                }
            }
            &.circle-right {
                width: 600px;
                height: 600px;
                left: -10%;
                bottom: -70%;
            }
        }
        .about-planet {
            width: 500px;
            height: 500px;
            right: 0%;
            transform: rotate(45deg);
            top: 0;
            position: absolute;
        }
        .about-text {
            font-size: 1rem;
            letter-spacing: 5px;
            @include media('>desktop') {
                font-size: 1.5rem;
            }
        }
        .jobs {
            p {
                line-height: 2;
                font-size: 0.75rem;
                letter-spacing: 3px;
                small {
                    display: block;
                    font-size: 0.8em;
                }
            }
        }
    }
    
    .contact-section {
        overflow: hidden;
        .home-banner-dots {
            position: absolute;
            top: 25%;
            left: 5%;
            right: 5%;
            width: 90%;
            height: 50%;
            div.inner {
                div {
                    background-color: white;
                    z-index: 9;
                    border-radius: 50%;
                }
            }
        }
        .circle {
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
            &.circle-small {
                width: 400px;
                height: 400px;
                left: 40%;
                bottom: -25%;
                @include media('<=ipad-landscape') {
                    left: -25%;
                }
            }
        }
        .say-hello {
            position: absolute;
            right: 10%;
            top: 10%;
            font-size: 7vw;
            ;
        }
        .email {
            left: 50%;
            top: 40%;
            width: 250px;
            height: 250px;
            display: flex;
            align-items: center;
            z-index: 999;
            @include media('<=ipad-landscape') {
                transform: translate(-50%, -40%);
                width: 150px;
                height: 150px;
            }
            svg {
                width: 50%;
                margin: auto;
            }
        }
        .linkedin {
            left: 25%;
            top: 60%;
            width: 250px;
            height: 250px;
            display: flex;
            align-items: center;
            @include media('<=ipad-landscape') {
                transform: translate(-50%, -40%);
                width: 150px;
                height: 150px;
            }
            svg {
                width: 50%;
                margin: auto;
                path {
                    fill: #000;
                }
            }
        }
    }