/****************************
*
*           HEIGHT
*
*****************************/

@if $height
{
	@each $breakpoint in map-keys($grid-breakpoints)
	{
		@include media-breakpoint-up($breakpoint)
		{
			$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

			@each $prop, $value in $height
			{
				.h#{$infix}--#{$prop}
				{
					height: $value;
				}

				.h#{$infix}--#{$prop}-max
				{
					max-height: $value;
				}

				.h#{$infix}--#{$prop}-min
				{
					min-height: $value;
				}
			}
		}
	}
}

/****************************
*
*           WIDTH
*
*****************************/

@if $width
{
	@each $breakpoint in map-keys($grid-breakpoints)
	{
		@include media-breakpoint-up($breakpoint)
		{
			$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

			@each $prop, $value in $width
			{
				.w#{$infix}--#{$prop}
				{
					width: $value;
				}

				.w#{$infix}--#{$prop}-max
				{
					max-width: $value;
				}

				.w#{$infix}--#{$prop}-min
				{
					min-width: $value;
				}
			}
		}
	}
}

/****************************
*
*      VIEWPORTSPACERS
*
*****************************/

@if $viewportSpacers
{
	@each $breakpoint in map-keys($grid-breakpoints)
	{
		@include media-breakpoint-up($breakpoint)
		{
			$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

			@each $prop, $value in $viewportSpacers
			{
				.vw--#{$prop}-min
				{
					min-width: $value * 1vw;
				}

				.vw--#{$prop}
				{
					width: $value * 1vw;
				}
			}
		}
	}
}


@if $viewportSpacers
{
	@each $breakpoint in map-keys($grid-breakpoints)
	{
		@include media-breakpoint-up($breakpoint)
		{
			$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

			@each $prop, $value in $viewportSpacers
			{
				.vh--#{$prop}-min
				{
					min-height: $value * 1vh;
				}

				.vh--#{$prop}
				{
					height: $value * 1vh;
				}
			}
		}
	}
}
