.transition-2-ease-in-out
{
    transition: .2s ease-in-out;
}

.transition-3-ease-in-out
{
    transition: .3s ease-in-out;
}

.transition-4-ease-in-out
{
    transition: .4s ease-in-out;
}

.transition-5-ease-in-out
{
    transition: .5s ease-in-out;
}
