.cursor--pointer {
    cursor: pointer;
}

.overflow--hidden {
    overflow: hidden;
}

.user-select--none {
    user-select: none;
}

.hyphen {
    word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
}

.svg-container {
    svg {
        width: 100%;
        height: auto;
    }
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.no-scrollbar {
    &::-webkit-scrollbar-track {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, .3);
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 0;
        background-color: none;
    }
    &::-webkit-scrollbar-thumb {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        background-color: transparent;
    }
}

.cta {
    display: block;
    padding: 0.6rem 2rem;
    font-size: 1.2rem;
    &.color--black {
        svg {
            path {
                fill: map_get($colors, 'black')
            }
        }
    }
    &.color--white {
        svg {
            path {
                fill: map_get($colors, 'white')
            }
        }
    }
    svg {
        width: 25px;
    }
}

@if variable-exist($colors) {
    @each $name,
    $hex in $colors {
        .bg--#{$name} {
            background-color: $hex;
        }
        .color--#{$name} {
            color: $hex;
        }
    }
}

@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}